<section class="container">
  <div class="info-container">
    <h1 class="title">Abonează-te la newsletter</h1>
    <p class="description">Află ce se mai întâmplă cu platforma de artă stradală și artiștii din Brașov și din lume!</p>
    <div class="form-container">
      <form action="#" [formGroup]="subscribeToNewsLetterForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="email" placeholder="Introduceți adresa de email"/>
        <button type="submit" class="secondary">Abonează-te</button>
      </form>
      <p class="error" *ngIf="subscribeToNewsLetterForm.get('email')?.hasError('email')">Introdu o adresă validă de email</p>
    </div>
  </div>
</section>
