<section class="container">
  <div class="info-container">
    <h1 class="title">Alatura-te comunitatii</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, quasi commodi quia asperiores sit fuga quo tempore. Exercitationem labore sint velit? Ab consequatur nostrum quae eius qui alias labore aliquam?</p>
    <div class="buttons-container">
      <button class="primary" onclick="window.open('https://brasov.artastradala.ro/register')">Alatura-te</button>
      <button class="secondary">Social media coming soon...</button>
    </div>
  </div>
</section>
