<section class="container">
  <div class="image-container">
    <img class="image" src="assets/people_opinion_image.jpeg" alt="people opinion">
  </div>
  <div class="info-container">
    <h6 class="sub-title">Ce cred oamenii</h6>
    <h1 class="title">Parerea oamenilor</h1>
    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex excepturi aliquid odio consequuntur, perferendis recusandae aperiam ullam tempora corporis minus cumque sapiente vero, deserunt iusto dolore eum praesentium ut quia.</p>
    <div class="buttons-container">
      <button class="ternary" onclick="window.open('https://docs.google.com/forms/d/10xrjmuiox82ql3tkvNSCVZwh6kdF0oURBbIoEESbalU/viewanalytics', '_blank')">Detalii ></button>
    </div>
  </div>
</section>
