<section class="container">
  <div class="image-container">
    <img class="image" src="assets/people_opinion_image.jpeg" alt="people opinion">
  </div>
  <div class="info-container">
    <h6 class="sub-title">Ce cred oamenii</h6>
    <h1 class="title">Părerea oamenilor</h1>
    <p class="description">Unul dintre primii pași a fost organizarea de întâlniri publice la Banca de Cultură din Brașov pentru a dezbate situația artei stradale și a diferitelor nuanțe din percepția publică. Am strâns un număr impresionant de 3.000 de chestionare direct pe străzile orașului, pentru a construi o imagine de ansamblu asupra părerii oamenilor în ceea ce privește artele stradale, și un proces similar a fost implementat pentru persoanele juridice din zonele de interes ale proiectului.</p>
    <div class="buttons-container">
      <button class="ternary" onclick="window.open('https://docs.google.com/forms/d/10xrjmuiox82ql3tkvNSCVZwh6kdF0oURBbIoEESbalU/viewanalytics', '_blank')">Detalii ></button>
    </div>
  </div>
</section>
