<section class="container">
  <div class="info-container">
    <h1 class="title">Platforma Artelor Stradale</h1>
    <p class="description">Acest proiect naște din necesitatea rezolvării obstacolelor pe care artiștii stradali le întâmpină pe străzile din România și din lumea întreagă. Proiectul nostru naște la Brașov, unde printr-o campanie de advocacy implementată de comunitatea artistică #oameni și prin deschiderea municipalității am dezvoltat un regulament, o politică publică și o platformă digitală funcțională ce include o multitudine de funcționalități, vizând digitalizarea sectorului public și satisfacerea nevoilor tuturor actorilor implicați.</p>
    <div class="buttons-container">
      <button class="primary" (click)="scrollTo('features')">Explorează</button>
      <button class="secondary" (click)="scrollTo('subscribe')">Abonează-te</button>
    </div>
  </div>
  <div class="image-container">
    <img class="image" src="assets/about_image.png" alt="about">
  </div>
</section>
