<section class="container">
  <div class="info-container">
    <h6 class="sub-title">Exploreaza</h6>
    <h1 class="title">Da frau liber creativitatii</h1>
    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex excepturi aliquid odio consequuntur, perferendis recusandae aperiam ullam tempora corporis minus cumque sapiente vero, deserunt iusto dolore eum praesentium ut quia.</p>
  </div>
  <div class="cards-container">
    <div class="small-cards-container">

      <div class="small-card-1">
        <div class="icon-container">
          <img class="icon" src="assets/icons/ARTIST_3.png" alt="artist">
        </div>
        <div class="title-container">
          <h1 class="title">Descopera artistii locali</h1>
        </div>
        <div class="description-container">
          <p class="description">Exploreaza artistii locali ce vor sustine spectacole</p>
        </div>
        <div class="button-container">
          <button class="ternary" onclick="window.open('https://brasov.artastradala.ro/artists')">Detalii ></button>
        </div>
      </div>
      <div class="small-card-2">
        <div class="icon-container">
          <img class="icon" src="assets/icons/ARTIST_3.png" alt="">
        </div>
        <div class="title-container">
          <h1 class="title">Interactioneaza cu harta dinamica</h1>
        </div>
        <div class="description-container">
          <p class="description">Foloseste-te de harta pentru a vedea locurile special amenajate</p>
        </div>
        <div class="button-container">
          <button class="ternary" (click)="scrollTo('map')">Detalii ></button>
        </div>
      </div>
    </div>
    <div class="big-card-container">
      <div class="image-container">
        <img class="image" src="assets/card-image.jpeg" alt="artist">
      </div>
      <div class="card-info-container">
        <h6 class="sub-title">Evenimente</h6>
        <h1 class="title">Alatura-te comunitatii si hai la evenimente</h1>
        <p class="description">Participa la evenimentele artistilor create special pentru tine.</p>
        <div class="button-container">
          <button class="ternary" onclick="window.open('https://brasov.artastradala.ro/events')">Detalii ></button>
        </div>
      </div>
    </div>
  </div>
</section>
