<section class="container">
  <div class="info-container">
    <h1 class="title">Harta dinamică a platformei</h1>
    <p class="description">Așa arată harta noastră interactivă. Aici, toată lumea poate vedea ce performance-uri au loc, în ce loc, în care intervale orare. Mai mult decât atât, tot aici artiștii pot rezerva în timp real spațiile disponibile iar municipalitățile pot gestiona aceste spații în funcție de necesități.</p>
  </div>
  <div class="image-container">
    <img class="image" src="assets/harta.png" alt="map">
  </div>
</section>
